.footer {
    align-items: center;
    text-align: center;
    padding: 24px;
    background-color: #00050d;
    width: 100%;
    bottom: 0%;
}

.pv-logo {
    width: 100px;
    display: block;
    margin: auto;
    margin-bottom: 0.5em;
}

.footer li {
    display: inline;
    margin: 0.5em;
    font-size: 15px;
    padding: 4px;
}

.footer a {
    color: #79b8f3;
    transition: 0.2s;
    text-decoration: none;
    cursor: pointer;
}

.footer a:hover {
    color: #81dafe;
}

.copyright-text {
    color: #7997a4;
}